body {
  background-color: teal;
}

.root {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 100px 0;
}

.day {
  display: block;
  width: 90vw;
  max-width: 450px;
  background-color: bisque;
  border-radius: 5px;
  padding: 2rem;
  border-radius: 10px;
}

.day-heading {
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

button.btn {
  position: relative;
  cursor: pointer;
  width: 100%;
  left: -7px;
  background-color: teal;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 7px;
  margin-top: 10px;
  letter-spacing: 5;
  transition: 0.2s all ease;
  border: solid 2px transparent;
}

button.btn:hover {
  /* background-color: rgb(69, 212, 212); */
  background-color: transparent;
  color: black;
  border: solid 2px black;
}

div.dog {
  display: flex;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

div.dog:hover {
  background-color: white;
}
img.dog__img {
  width: 20%;
  border-radius: 50%;
  flex: 0.2;
}

div.dog__info {
  text-align: left;
  flex: 0.5;
}

button.dog__remove {
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  max-width: 50px;
  font-size: 1.35rem;
  min-height: 50px;
  flex: 0.3;
  background-color: teal;
}

button.dog__remove:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 200ms all ease;
}
