body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: teal;
}

.day-card {
  text-align: left;
  padding: 5px;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items: center;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0 10px;
  /* border: 1px red solid; */
  /* background-color: teal; */
  transform-origin: left;
  transition: all 0.1s ease;
  border-radius: 10px;
}

.day-card:hover {
  background-color: white;
  color: black;
  /* border: 2px solid black; */
}
.person-info {
  position: relative;
  top: 10px;
  flex: 0.6;
  margin-top: 20px;
  /* text-align: center; */
  margin: 10px auto;
}
.day-card > img {
  width: 20%;
  border-radius: 50%;
  flex: 0.2;
  margin-right: 10px;
}
.card-btn {
  text-decoration: none;
  width: 100%;
  max-width: 50px;
  border: 2px solid transparent;
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  /* max-width: 10%; */
  flex: 0.4;
  color: black;
  transition: all 0.5s;
  border-radius: 10px;
  color: white;
  background-color: teal;
}

.card-btn:hover {
  transition: 0.1s ease-in-out;
  background: transparent;
  border: 2px solid black;
  color: black;
}
